<html>
<h1>This is admin</h1>
<div>
    <form action="#" method="post">
<p> View prospective TA Applicants</p>
<div><p><input type= "submit" value="View Applicants" name="viewapplicants"/></p></div>
<p> View Banking Details of Tutors</p>
<div><p><input type= "submit" onclick="location.href='/signup'" value="View Banking Details" name="viewbankdetails"/></p></div>
<p> View and Create Tutorial appointments</p>
<div><p><input type= "submit" value="View Tutor Appointments" name="viewappointments"/></p></div>


    </form>
</div>