<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
 	<link rel="stylesheet" type="text/css" href="../static/welcome.css">
</head>
<body>
<div class="main">
	<h1 class="name">Hi, {{name}}</h1><hr style="width: 30%">
	<h3 class="email">{{email}}</h3>

	<!-- Add the button here -->
	<form action="http://127.0.0.1:5000/application" method="GET">
		<button type="submit">Go to application form</button>
	</form>

</div>
</body>
</html>